*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.bg-color{
    background-color: #1d865e;
    
}
.h-color{
    color: #1d865e;
}
.check{
    border: 1px solid red;
}

.quiz-wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    border-radius: 10px; 

}

.quiz-wrapper form {
    width: 90%;

}
.quiz-wrapper form>div{
    margin-top: 20px;
}

.m-auto {
    margin: 0px auto;
}
.green-border{
    border: 2.5px solid #1d865e;
    border-radius: 5px;
}
.submit-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.startBtn{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.btn-color{
    background-color: white;
    color: #1d865e;
    font-size: large;
    font-weight: bold;
}
.btn-color:hover{
    background-color: white !important;
    color: #1d865e !important;
    outline: 1px solid black !important;
}
.quiz-q{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    border-radius: 10px;
    display: none;
}
.quiz-body{
    /* height: 240px; */
    padding: 10px;
    margin-top: 10px;
}

.w90{
    width: 90%;
}
.text-green{
    color: #1d865e;
}
.text-red{
    color: red;
}
.quiz-footer{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.q-li li{
    list-style-type: none;
    padding-left: 15px;
    border: 2.5px solid #1d865e;
    border-radius: 5px;
}
.result{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    display: none;
}
.resultChild{
    width: 50%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.nextBtn{
    display: none;
}

.rigthAns{
    background-color: #1d865e;
    color: white;

}
.liDisable{
    pointer-events: none;
}
.wrongAns{
    background-color: red;
    color: white;
}
.passPara{
    display: none;
}
.failPara{
    display: none;
}


@media (max-width:768px) {

    .rs-margin{
        margin-top: 15px;
    }
    
}
@media (max-width:560px) {
    .quiz-q{
        width: 100%;
    }
    .quiz-wrapper{
        width: 100%;
    }
}