*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.bg-color{
    background-color: #1d865e;
    
}
.h-color{
    color: #1d865e;
}
.check{
    border: 1px solid red;
}

.quiz-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    border-radius: 10px; 

}

.quiz-wrapper form {
    width: 90%;

}
.quiz-wrapper form>div{
    margin-top: 20px;
}

.m-auto {
    margin: 0px auto;
}
.green-border{
    border: 2.5px solid #1d865e;
    border-radius: 5px;
}
.submit-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.startBtn{
    min-height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}
.btn-color{
    background-color: white;
    color: #1d865e;
    font-size: large;
    font-weight: bold;
}
.btn-color:hover{
    background-color: white !important;
    color: #1d865e !important;
    outline: 1px solid black !important;
}
.quiz-q{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    border-radius: 10px;
    display: none;
}
.quiz-head{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
}
.quiz-body{
    height: 240px;
    padding: 10px;
    margin-top: 10px;
}

.w90{
    width: 90%;
}
.quiz-footer{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.q-li{
    list-style-type: none;
    padding-left: 15px;
}